.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    display: flex;
    flex-direction: column;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.hangman_canvas {
    background-color: midnightblue;
    width: 600px;
    height: 600px;
}

.phrase {
    display: flex;
    font-size: 3em;
    letter-spacing: .1em;
}

.character {
    padding: 0px 2px;
}

.character_buttons {
    background-color: aliceblue;
    border-radius: 5px;
    font-size: 1em;
    height: 1.2em;
    width: 1.2em;

}
